<%
  # Render with:
  #
  #   render :partial => 'actions', :locals => {
  #     :page => Page model instance
  #   }
-%>
<td>
  <% if page.first? -%>
    &nbsp;
  <% else -%>
    <%= form_for( page, :url => admin_move_page_path( page ) ) do | f | %>
    <%= f.submit( '↑', :name => 'higher' ) %>
    <% end -%>
  <% end -%>
</td>
<td>
  <% if page.last? -%>
    &nbsp;
  <% else -%>
    <%= form_for( page, :url => admin_move_page_path( page ) ) do | f | %>
    <%= f.submit( '↓', :name => 'lower' ) %>
    <% end -%>
  <% end -%>
</td>
<td><%= link_to 'Show',    [        :admin, page ] %></td>
<td><%= link_to 'Edit',    [ :edit, :admin, page ] %></td>
<td><%= link_to 'Destroy', [        :admin, page ], method: :delete, data: { confirm: 'Are you sure?' } %></td>
