<%= form_for(@admin_page) do |f| %>
  <% if @admin_page.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@admin_page.errors.count, "error") %> prevented the page from being saved:</h3>

      <ul>
      <% @admin_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
  </div>

<% if Page.top_level.count > 0 -%>
  <div class="field">
    <p>
      <%= f.label :page_id, 'Put into a menu under which page?' %><br>
      <%= f.select :page_id,
                   options_from_collection_for_select(
                     Admin::Page.top_level_except( @admin_page ),
                     :id,
                     :title,
                     @admin_page.page_id
                   ),
                   :include_blank => 'Do not put into a menu' %>
    </p>
  </div>

<% end -%>

  <div class="field">
    <%= f.check_box :hidden %> <%= f.label :hidden, 'Hidden from the navigation bar?' %>
  </div>

  <div class="field">
    <%= f.check_box :raw_editor %> <%= f.label :raw_editor, 'Use the low-level "raw" HTML editor?' %><br />
    &nbsp;&nbsp;&nbsp;&nbsp;You must save then re-edit the page if you change this setting.
  </div>

  <p></p>

<% if @admin_page.raw_editor -%>
  <div class="redactor_container">
    <div class="redactor-box">
      <div class="redactor-editor">
        <%= f.text_area :body, :class => 'not_redactor', :rows => 40, :cols => 120 %>
      </div>
    </div>
  </div>
<% else -%>
  <div id="redactor_toolbar"></div>
  <div class="redactor_container">
    <%= f.text_area :body, :class => 'custom_redactor', :rows => 40, :cols => 120 %>
  </div>
<% end -%>

  <div class="actions">
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>
