<h1>All pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th class="centre" colspan="2">Move</th>
      <th class="centre" colspan="3">Actions</th>
      <th class="centre">In navigation bar?</th>
    </tr>
  </thead>

  <tbody>
<% @admin_pages.each do | admin_page | -%>
      <tr class="<%= cycle( 'even', 'odd' ) %>">
        <td><%= admin_page.title %></td>
<%= render :partial => 'actions', :locals => { :admin_page => admin_page } %>
        <td class="centre"><%= admin_page.hidden? ? '<b>No</b>'.html_safe : 'Yes' %>
      </tr>
<%  sub_pages = Admin::Page.where( :page_id => admin_page.id ).all
    sub_pages.each do | sub_page | -%>
      <tr class="children <%= cycle( 'even', 'odd' ) %>">
        <td>&mdash; <%= sub_page.title %></td>
<%= render :partial => 'actions', :locals => { :admin_page => sub_page } %>
        <td class="centre"><%= sub_page.hidden? ? '<b>No</b>'.html_safe : 'Yes' %>
      </tr>
<%  end -%>
<% end -%>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_admin_page_path %>
