<%
  # Ensure a local "article" is set to the Article instance to render:
  #
  #   render :partial => 'shared/article', :locals => { :article => ... }
-%>
<article class="article">
  <div class='blog-header'>
    <div class="article-date-and-heading-container">
      <h2 class="article-heading"><%= article.title %></h2>
      <div class="article-date"><%= apphelp_human_time(article.created_at) %></div>
    </div>
    <div class="article-summary"><%= article.summary %></div>
  </div>

  <p>
    <img class="article-hero-imag" src="<%= article.article_hero_image.url %>" alt="<%= article.title %>">
  </p>

  <%= article.body.html_safe() %>
</article>
